

.logo{
    width : 100px;
}

.form{
    
    top:50%;
    left:50%;
    width:400px;
    margin-left:500px;
    height:400px;
    margin-top:100px;
    border:1px solid #000000;
    padding:5px; 
}

.lg{
    width: 380px;
}